@model ClinicaVeterinaria.Models.Vendita

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vendita</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodiceFiscaleCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodiceFiscaleCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataVendita)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataVendita)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prodotto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prodotto.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroRicetta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroRicetta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantita)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantita)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model?.Id">Modifica</a>
    <a class="btn btn-success" asp-action="GeneratePDFPerVendita" asp-route-id="@Model.Id" class="btn btn-sm btn-secondary">Genera PDF</a>
    <a class="btn btn-info" asp-action="Index">Torna alla lista Vendite</a>
</div>
