@model IEnumerable<ClinicaVeterinaria.Models.Vendita>

@{
    ViewData["Title"] = "Gestione vendite";
}

<h1><img src="~/img/logo piccolo.svg" /> @ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Registra nuova vendita</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Codice Fiscale Cliente</th>
            <th>Data Vendita</th>
            <th>Prodotto</th>
            <th>Prezzo</th>
            <th class="text-center">Numero Ricetta</th>
            <th class="text-center">Quantità</th>
            <th class="text-center">Azioni</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CodiceFiscaleCliente</td>
                <td>@item.DataVendita.ToString("dd/MM/yyyy HH:mm")</td>
                <td>@item.Prodotto.Nome</td>
                <td>@item.Prodotto.Prezzo.ToString("C")</td>
                <td class="text-center">@item.NumeroRicetta</td>
                <td class="text-center">@item.Quantita</td>
                <td class="text-center">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Modifica</a> 
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">Dettagli</a> 
                    <a asp-action="GeneratePDFPerVendita" asp-route-id="@item.Id" class="btn btn-sm btn-secondary">Genera PDF</a>
                </td>
            </tr>
        }
    </tbody>
</table>
