@model ClinicaVeterinaria.Models.Visita

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Visita</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataVisita)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataVisita)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Animale)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Animale.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Anamnesi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Anamnesi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prezzo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prezzo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
