@model ClinicaVeterinaria.Models.Visita

@{
    ViewData["Title"] = "Dettagli Visita";
}

<h1>Dettagli Visita</h1>

<div>
    <h4>Visita</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            ID
        </dt>
        <dd class="col-sm-10">
            @Model.Id
        </dd>
        <dt class="col-sm-2">
            Data Visita
        </dt>
        <dd class="col-sm-10">
            @Model.DataVisita
        </dd>
        <dt class="col-sm-2">
            Animale
        </dt>
        <dd class="col-sm-10">
            @ViewBag.AnimaleNome
        </dd>
        <dt class="col-sm-2">
            Anamnesi
        </dt>
        <dd class="col-sm-10">
            @Model.Anamnesi
        </dd>
        <dt class="col-sm-2">
            Cura
        </dt>
        <dd class="col-sm-10">
            @Model.Cura
        </dd>
        <dt class="col-sm-2">
            Prezzo
        </dt>
        <dd class="col-sm-10">
            @Model.Prezzo
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@Model.Id"><i class="bi bi-pencil"></i></a> |
    <a asp-action="Index" class="btn btn-info"><i class="bi bi-arrow-left-short"></i>Torna alla lista</a>
</div>
