@model IEnumerable<dynamic>

@{
    ViewData["Title"] = "Visite";
}

<h1>Visite</h1>
<div>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</div>


<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Data Visita</th>
            <th>Animale</th>
            <th>Anamnesi</th>
            <th>Cura</th>
            <th>Prezzo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var visita in Model)
        {
            <tr>
                <td>@visita.Id</td>
                <td>@visita.DataVisita</td>
                <td>@visita.AnimaleNome</td>
                <td>@visita.Anamnesi</td>
                <td>@visita.Cura</td>
                <td>@visita.Prezzo</td>
            </tr>
        }
    </tbody>
</table>
