@model IEnumerable<ClinicaVeterinaria.Models.Visita>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Data</th>
            <th>Anamnesi</th>
            <th>Cura</th>
            <th>Prezzo</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.DataVisita.ToShortDateString()</td>
                <td>@item.Anamnesi</td>
                <td>@item.Cura</td>
                <td>@item.Prezzo</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Modifica</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Dettagli</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Elimina</a>
                </td>
            </tr>
        }
    </tbody>
</table>
