@model IEnumerable<ClinicaVeterinaria.Models.Ricovero>

@{
    ViewData["Title"] = "Gestione Ricoveri";
}

<h1><img src="~/img/logo piccolo.svg" /> @ViewData["Title"]</h1>
<div class="container mt-4">

    <div class="mb-3">
        <a asp-action="Create" class="btn btn-primary">Registra nuovo ricovero</a>
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Data Inizio</th>
                    <th>Data Fine</th>
                    <th class="text-center">Nome Animale</th>
                    <th>Rimborso</th>
                    <th>Costo Giornaliero</th>
                    <th>Prezzo Totale</th>
                    <th>Dimesso</th>
                    <th class="text-center">Azioni</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="@(item.Dimesso ? "table-success" : "table-warning")">
                        <td>@item.DataInizio.ToString("dd/MM/yyyy")</td>
                        <td>@(item.DataFine.HasValue ? item.DataFine.Value.ToString("dd/MM/yyyy") : "In Corso...")</td>
                        <td class ="text-center">@item.Animale.Nome</td>
                        <td>@Html.DisplayFor(_ => item.Rimborso)</td>
                        <td>@item.CostoGiornaliero.ToString("C")</td>
                        <td>@((item.PrezzoTotale ?? 0).ToString("C"))</td>
                        <td>@Html.DisplayFor(_ => item.Dimesso)</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary"><i class="bi bi-pencil"></i>Modifica</a>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info"><i class="bi bi-eye-fill"></i>Dettagli</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger"><i class="bi bi-trash3-fill"></i>Elimina</a>
                            <a asp-action="Checkout" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Checkout</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
