@{
    ViewData["Title"] = "Home Page";
}

<h1>Trova il tuo animale</h1>

<form method="post" asp-action="SearchAnimal" asp-controller="Animali">
    <div class="form-group">
        <label for="chipNumber">Chip Number</label>
        <input type="text" class="form-control" id="chipNumber" name="chipNumber" required />
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>

@if (ViewBag.Message != null)
{
    var animal = (ClinicaVeterinaria.Models.Animale)ViewBag.Animal;
    <div class="card mt-3">
        <div class="card-header">
            Animal Details
        </div>
        <div class="card-body">
            <p><strong>Name:</strong> @animal.Nome</p>
            <p><strong>Type:</strong> @animal.TipologiaAnimale</p>
            <p><strong>Color:</strong> @animal.ColoreManto</p>
            <p><strong>Birth Date:</strong> @animal.DataNascita?.ToString("dd/MM/yyyy")</p>
            <p><strong>Chip Number:</strong> @animal.NumeroChip</p>
        </div>
    </div>
}
else
{
        <div class="alert alert-info text-center">Il tuo animale non è qui</div>
}
