@model IEnumerable<ClinicaVeterinaria.Models.Animale>

@{
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipologiaAnimale)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ColoreManto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNascita)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PossiedeChip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroChip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Randagio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipologiaAnimale)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ColoreManto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataNascita)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PossiedeChip)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroChip)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Randagio)
                </td>
                <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil"></i></a> |
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-eye-fill"></i></a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash3-fill"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>