@model ClinicaVeterinaria.Models.Animale

@{
    ViewData["Title"] = "Elimina";
}

<h1><img src="~/img/logo piccolo.svg" /> @ViewData["Title"]</h1>

<h3>Sei sicuro di voler eliminare questo elemento?</h3>
<div>
    <h4>Animale</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipologiaAnimale)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipologiaAnimale)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ColoreManto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ColoreManto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataNascita)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataNascita)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PossiedeChip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PossiedeChip)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroChip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroChip)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Randagio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Randagio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Proprietario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Proprietario.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Elimina" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-info"><i class="bi bi-arrow-left-short"></i>Indietro alla lista</a>
    </form>
</div>
