@model IEnumerable<ClinicaVeterinaria.Models.Animale>

@{
    ViewData["Title"] = "Gestione Animali";
}

<h1><img src="~/img/logo piccolo.svg" /> @ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Aggiungi Nuovo Animale</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Tipologia Animale</th>
            <th>Colore Manto</th>
            <th>Data di Nascita</th>
            <th>Possiede Chip</th>
            <th>Numero Chip</th>
            <th>Randagio</th>
            <th>Foto</th>
            <th>Azioni</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.TipologiaAnimale)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ColoreManto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataNascita)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.PossiedeChip)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroChip)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Randagio)
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.Foto))
                    {
                        <img src="~/@item.Foto" alt="Foto di @item.Nome" style="max-width: 100px; height: auto;" />
                    }
                    else
                    {
                        <span>No Photo</span>
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info">Modifica</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-warning">Dettagli</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Elimina</a>
                </td>
            </tr>
        }
    </tbody>
</table>
