@model IEnumerable<ClinicaVeterinaria.Models.Animale>

@{
    ViewData["Title"] = "Gestione Animali";
}

<h1><img src="~/img/logo piccolo.svg" /> @ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Aggiungi Nuovo Animale</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().TipologiaAnimale)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().ColoreManto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().DataNascita)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().PossiedeChip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().NumeroChip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Randagio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Foto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipologiaAnimale)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ColoreManto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataNascita)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PossiedeChip)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroChip)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Randagio)
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.Foto))
                    {
                        <img src="~/@item.Foto" alt="Foto di @item.Nome" style="max-width: 100px; height: auto;" />
                    }
                    else
                    {
                        <span>Nessuna foto aggiunta.</span>
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info"><i class="bi bi-pencil"></i>Modifica</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-warning"><i class="bi bi-eye-fill"></i>Dettagli</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="bi bi-trash3-fill"></i>Elimina</a>
                </td>
            </tr>
        }
    </tbody>
</table>
