@model IEnumerable<ClinicaVeterinaria.Models.Proprietario>

@{
    ViewData["Title"] = "Index";
}

<h1>VetCare - Pannello Gestione Proprietari Animali &#128101</h1>

<p>
    <a class="btn btn-outline-success" asp-controller="Proprietari" asp-action="Create">Create nuovo proprietario animale:</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cognome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Indirizzo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Citta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodiceFiscale)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cognome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Indirizzo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Citta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodiceFiscale)
            </td>
            <td class="d-inline-flex">
                <a class="button w-50 p-3 m-2" asp-action="Edit" asp-route-id="@item.Id">Modifica</a>
                <a class="button w-50 p-3 m-2" asp-action="Details" asp-route-id="@item.Id">Dettagli</a>
                <a class="button w-50 p-3 m-2" asp-action="Delete" asp-route-id="@item.Id">Cancella</a>
            </td>
        </tr>
}
    </tbody>
</table>
